.section {
  padding: 0 0 6rem;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 0 0 3rem;
  }
}

.container {
  max-width: min(100%, 94rem);
  margin: 0 auto;
  padding: 0 2.5rem;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 6rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.25rem;
  }
}

.title {
  font-family: var(--font-inter-tight), sans-serif;
  text-align: center;
  font-size: clamp(1.75rem, 3.6vw, 3.25rem);
  font-weight: 400;
  line-height: 1.2;
  color: #112244;
  letter-spacing: 0.05rem;
  word-spacing: 0.5rem;
  margin: 0 0 4rem;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: left;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
}

.titleBlue {
  color: var(--color-blue);
  padding-right: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.awardImg {
  height: 7.5rem;
  width: auto;
  max-width: 10rem;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .row {
    gap: 1.5rem;
  }

  .awardImg {
    height: 5rem;
    max-width: 6.875rem;
  }
}
