.wrapper {
  background: #fff;
  padding: 4.5rem 0 3.5rem;
  overflow: hidden;
}

.inner {
  max-width: 69rem;
  margin: 0 auto;
}

.img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 29.25rem;
  object-fit: contain;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2.5rem 0;
  }

  .inner {
    max-width: 100%;
  }
}
