.section {
  overflow: hidden;
  position: relative;
  padding: clamp(3.5rem, 5vw, 4rem) 0;
  --text-color: #000;
}

.bg {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg::before {
  background: var(--color-accent);
  bottom: 0;
  content: "";
  display: block;
  filter: blur(400px);
  height: 340px;
  left: 0;
  opacity: 0.76;
  position: absolute;
  transform: translate(-47%, 29%);
  width: 340px;
}

.bg::after {
  background: var(--color-blue);
  content: "";
  display: block;
  filter: blur(400px);
  height: 340px;
  opacity: 0.76;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -8%);
  width: 340px;
}

.container {
  max-width: min(100%, 1504px);
  margin: 0 auto;
  padding: 0 clamp(1.25rem, 3vw, 2.5rem);
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.grid {
  column-gap: clamp(1.25rem, 2vw, 2rem);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 311px), 1fr));
  row-gap: clamp(2.5rem, 4vw, 3.5rem);
}

@media (max-width: 420px) {
  .itemLinkLast {
    white-space: normal;
  }
}

.col {
  max-width: 36.25rem;
}

.colTitle {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}

@media screen and (min-width: 769px) {
  .colTitle {
    font-size: 28px;
    line-height: 130%;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  line-height: 1;
  margin-bottom: 16px;
}

.item:last-child {
  margin-bottom: 0;
}

.itemLink {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  display: inline;
}

@media screen and (min-width: 769px) {
  .itemLink {
    font-size: 18px;
  }
}

.itemLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.itemLinkLast {
  white-space: nowrap;
}

.linkArrow {
  display: inline;
  padding-left: 6px;
  padding-right: 17px;
  position: relative;
}

.linkArrow::before,
.linkArrow::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.94319e-08 8.59L3.59 5L-3.53625e-07 1.41L1 0.5L5.5 5L1 9.5L7.94319e-08 8.59Z' fill='%233CC4E5'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.1s;
  width: 6px;
}

.linkArrow::after {
  opacity: 0;
}

.itemLink:hover .linkArrow::before {
  animation: bounceBefore 1s linear infinite;
  right: 6px;
}

.itemLink:hover .linkArrow::after {
  animation: bounceAfter 1s linear infinite;
  right: 6px;
}

@keyframes bounceBefore {
  0% { opacity: 1; transform: translateX(0) translateY(-50%); }
  49% { opacity: 0; transform: translateX(7px) translateY(-50%); }
  52% { opacity: 0; transform: translateX(-7px) translateY(-50%); }
  100% { opacity: 1; transform: translateX(0) translateY(-50%); }
}

@keyframes bounceAfter {
  0% { opacity: 0; transform: translateX(-7px) translateY(-50%); }
  49% { opacity: 1; transform: translateX(0) translateY(-50%); }
  99% { opacity: 0; transform: translateX(7px) translateY(-50%); }
  100% { opacity: 0; transform: translateX(-7px) translateY(-50%); }
}
